Package: com.shima0625.linebridge
Name: LINE Bridge
Version: 0.1.1
Architecture: iphoneos-arm
Description: Routes legacy LINE endpoints to a user-selected compatibility bridge.
Maintainer: shima0625
Author: shima0625
Section: Tweaks
Depends: firmware (>= 4.3), mobilesubstrate, preferenceloader
Conflicts: jp.shima.linebridge, io.github.linelegacy.bridge
Replaces: jp.shima.linebridge, io.github.linelegacy.bridge
